<%=form_with model: [@article, @article.comments.build] do |form| %>
<p>
  <%= form.label :commenter %> <br>
  <%= form.text_field :commenter %>
</p>
<p>
  <%= form.label :body %>
  <%= form.text_area :boby %>
</p>
<p>
  <%= form.submit %>
</p>
<% end %>